.header {
  background: #6b6b1d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 15px;
  }
  
  .left h1 {
    font-size: 14px;
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 65px;
  height: 65px;
  object-fit: contain;
  padding: 4px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.left h1 {
  font-size: 16px;
  margin: 0;
}

.left p {
  font-size: 12px;
  margin: 0;
}
